<main class="page-content" aria-label="Content">
      <div class="wrapper">
        <article class="post">
  <header class="post-header">
    <h1 class="post-title">Yunming Zhang</h1>
  </header>
  <div class="post-content">
    <table border="0">
      <tbody>
	<tr>
	  <td>
	    <img src="/assets/yunming_personal.JPG" width="160" />
	  </td>
	  <td >
	    PhD Candidate<br />
	    Computer Science and Artificial Intelligence Laboratory<br />
	    Department of Electrical Engineering and Computer Science<br />
	    Massachusetts Institute of Technology<br />
	    <a href="https://yunmingzhang.wordpress.com">My Technical Blog</a><br />
	    <a href="mailto:yunming@mit.edu">yunming at mit dot edu</a><br />
	    <a href="https://scholar.google.com/citations?user=bdNbTVIAAAAJ&hl=en">Google Scholar</a><br />
	    <a href="/assets/yunming-cv.pdf">Curriculum Vitae</a>
	  </td>
	</tr>
      </tbody>
</table>
<p>
I am a software enngineer at Google working on the TPU XLA compiler. I was a PhD student in the <a href="http://groups.csail.mit.edu/commit/" target="_blank">COMMIT</a> group at  MIT CSAIL and advised by <a href="http://people.csail.mit.edu/saman/" target="_blank">Prof. Saman Amarasinghe</a> and <a href="https://people.csail.mit.edu/jshun/" target="_blank">Prof. Julian Shun</a>. I completed my Bachelor and Master programs at Rice University advised by <a href="https://www.cc.gatech.edu/people/vivek-sarkar" target="_blank">Prof. Vivek Sarkar</a> and <a href="https://csweb.rice.edu/alan-cox" target="_blank">Prof. Alan L. Cox</a>. 
</p>

<p>
My expertise lies primarily in the area of performance engineering, programming languages and compilers for graph analytics and machine learning. I have developed the <a href="https://graphit-lang.org/" target="_blank">GraphIt domain-specific language and compiler</a> for writing high-performance graph analytics applications. GraphIt is used by Nvidia, UW, and Cornell for the development of domain-specific accelerators. It is also currently evaluated by Intel for production. I have also worked on <a href="https://ieeexplore.ieee.org/document/8257937" target="_blank">cache optimizations for graph analytics and sparse linear algebra</a> and improving the efficiency of distributed MapReduce systems with <a href="https://dl.acm.org/citation.cfm?id=2514875" target="_blank">HJ-Hadoop</a>. My <a href="https://yunmingzhang.wordpress.com" target="_blank"> tech blog</a> on performance engineering and related topics has 50k+ views/year.   
</p>

<h3 class="tableheading"> Publications </h3>
<table>
  <tbody>
    <tr>
      <td>
	<b>Compiling Graph Algorithms for GPUs with GraphIt</b><br>
	<a href="http://groups.csail.mit.edu/commit/papers/2021/ajay-cgo21-g2.pdf" style="color: #0000FF"> [pdf] </a>
 	<a href="https://arxiv.org/abs/2012.07990" style="color: #0000FF">[arxiv]</a> 
	<br> 
	Ajay Brahmakshatriya, <u>Yunming Zhang</u>, Changwan Hong, Shoaib Kamil, Saman Amarasinghe, and Julian Shun<br>
	International Symposium on Code Generation and Optimization (CGO 2021)<br>
	<span style="color: #9A4340; font-weight: bold">Best Paper Award</span>
      </td>
    </tr>

    
  <tr>
      <td>
	<b>GraphIt: Optimizing the Performance and Improving the Programmability of Graph Algorithms</b><br>
	<a href="http://groups.csail.mit.edu/commit/papers/2020/yunming-thesis.pdf" style="color: #0000FF"> [pdf] </a>
 	<a href="https://graphit-lang.org" style="color: #0000FF"> [GraphIt project] </a> 
	<br> <u>Yunming Zhang</u><br>
	PhD Thesis (Sep 2020)<br>
      </td>
    </tr>

    <tr>
      <td>
	<b>Optimizing Ordered Graph Algorithms with GraphIt</b><br>
	<a href="https://dl.acm.org/doi/10.1145/3368826.3377909" style="color: #0000FF"> [pdf] </a>
 	<a href="https://arxiv.org/abs/1911.07260" style="color: #0000FF">[arxiv]</a> 
 	<a href="https://graphit-lang.org" style="color: #0000FF"> [GraphIt project] </a> 
	<br> 
	<u>Yunming Zhang</u>, Ajay Brahmakshatriya, Xinyi Chen, Laxman Dhulipala, Shoaib Kamil, Saman Amarasinghe, and Julian Shun<br>
	    International Symposium on Code Generation and Optimization (CGO 2020)<br>
      </td>
    </tr>

    <tr>
      <td>
	<b>GraphIt: a High-Performance Graph DSL</b><br>
	<a href="https://dl.acm.org/citation.cfm?id=3276491" style="color: #0000FF"> [pdf] </a>
	<a href="https://arxiv.org/abs/1805.00923" style="color: #0000FF">[arxiv]</a>
	<a href="https://graphit-lang.org" style="color: #0000FF"> [GraphIt project] </a>
	<br>
	<u>Yunming Zhang</u>, Mengjiao Yang, Riyadh Baghdadi, Shoaib Kamil, Julian Shun, and Saman Amarasinghe<br>
	    Proceedings of the ACM on Programming Languages, Volume 2. (OOPSLA 2018)<br>
      </td>
    </tr>
    <tr>
      <td>
	<b>Making Caches Work for Graph Analytics </b><br>
	<a href="https://ieeexplore.ieee.org/document/8257937" style="color: #0000FF">[pdf]</a>
	<a href="https://arxiv.org/abs/1608.01362" style="color: #0000FF">[arxiv]</a>
	<br>
	<u>Yunming Zhang</u>, Vladimir Kiriansky, Charith Mendis, Matei Zaharia, Saman Amarasinghe<br>
	  Proceedings of the 2017 IEEE International Conference on Big Data (Big Data 2017)<br>
	<span style="color: #9A4340; font-weight: bold">Best Student Paper Award</span>
      </td>
    </tr>
    <tr>
      <td>
	<b>Optimizing Indirect Memory References with Milk</b><br>
	<a href="https://dl.acm.org/citation.cfm?id=2967948" style="color: #0000FF">[pdf]</a><br>
	Vladimir Kiriansky, <u>Yunming Zhang</u>, Saman Amarasinghe<br>
	Proceedings of the 2016 International Conference on Parallel Architectures and Compilation Techniques (PACT 2016)
      </td>
    </tr>
    <tr>
      <td>
	<b>Tiramisu: A Polyhedral Compiler for Expressing Fast and Portable Code</b><br>
	<a href="https://ieeexplore.ieee.org/document/8661197" style="color: #0000FF">[pdf]</a>
	<a href="https://arxiv.org/abs/1804.10694" style="color: #0000FF">[arxiv]</a>
	<a href="https://github.com/Tiramisu-Compiler/tiramisu" style="color: #0000FF"> [project] </a><br>
	Romdhane, Emanuele Del Sozzo, Abdurrahman Akkas, <u>Yunming Zhang</u>, Patricia Suriana, Shoaib Kamil, Saman Amarasinghe<br>
	Proceedings of the 2019 International Symposium on Code Generation and Optimization (CGO 2019)
      </td>
    </tr>
    <tr>
      <td>
	<b>HJ-Hadoop: an Optimized MapReduce Runtime for Multi-Core Systems</b><br>
	<a href="https://dl.acm.org/citation.cfm?id=2514875" style="color: #0000FF">[pdf]</a>
	<a href="https://scholarship.rice.edu/bitstream/handle/1911/87782/ZHANG-DOCUMENT-2014.pdf?sequence=1" style="color: #0000FF"> [master thesis] </a><br>
	<u>Yunming Zhang</u>, Alan Cox, Vivek Sarkar <br>
	Proceedings of the 2013 companion publication for conference on Systems, programming, & applications: software for humanity (SPLASH 2013)
      </td>
    </tr>

</table>

<h3>Teaching Experiences</h3>
I have enjoyed working as a TA for Performance Engineering of Software Systems at MIT(6.172), Fundamentals of Parallel Computing (COMP322), Advanced Object Oriented Computing (COMP310), and Computational Thinking (COMP 140) at Rice University. 
