<main class="page-content" aria-label="Content">
  <div class="wrapper">
    <article class="post">
      <header class="post-header">
        <h2 class="post-title">Yang Bai</h2>
      </header>
      <link rel="icon" href="/assets/YB_favicon.ico">
      <div class="post-content">
        <table border="0">
          <tbody>
            <tr>
              <td>
                <img src="/assets/me.jpg" width="220" />
              </td>
              <td>
                Ph.D. Candidate<br />
                <!--      Computer Science and Artificial Intelligence Laboratory<br /> -->
                Department of Computer Science and Engineering<br />
                The Chinese University of Hong Kong<br />
<!--                 <a href="https://ybai62868-blog.notion.site/ybai62868-blog/Blog-91ae4df869a14d0f96596075cccee7fb"> Blog</a><br /> -->
                <a href="https://github.com/ybai62868"> Github</a><br />
                <a href="/assets/yangbai-cv.pdf">Curriculum Vitae</a><br />
                <a href="mailto:ybai@cse.cuhk.edu.hk">ybai62868 at gmail dot com</a><br />
                <!--      <a href="https://scholar.google.com/citations?user=bdNbTVIAAAAJ&hl=en">Google Scholar</a><br />
 -->

              </td>
            </tr>
          </tbody>
        </table>
        <p>
          I'm a Ph.D. candidate at the Department of Computer Science and Engineering, The Chinese University of Hong
          Kong, with <a target="_blank" href="http://www.cse.cuhk.edu.hk/~byu/">Prof. Bei Yu</a>. My research interests
          lie in applying compilers to generate high-performance tensor programs or spatial
          accelerators:<br />
        <ul>
          <li>Machine learning algorithms for automating system design</li>
          <li>Compilers for optimizing deep learning accelerator design</li>
          <li>Domain-specific languages for software/hardware co-design</li>
        </ul>

<!--         <strong> Note: </strong> I am also a professional Rogue player at World of Warcraft@Classic <a target="_blank"
          href="https://classic.warcraftlogs.com/character/cn/%E5%93%88%E9%9C%8D%E5%85%B0/illidanstge#">(WCL)</a>. -->
        </p>
        Feel free to drop me an email if we have similar interests, and I'm open to collaborations.

        <h3>
          <a name="Educations"></a> Educations

        </h3>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              [Aug 2020 - Now]
              <strong>
                The Chinese University of Hong Kong
              </strong>
            </p>
            <p class="abstract-text">
              Ph.D, Major in Computer Science.
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              [Sep 2017 - Jun 2020]
              <strong>
                Chinese Academy of Sciences
              </strong>
            </p>
            <p class="abstract-text">
              M.Eng, Major in Computer Science.
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              [Sep 2013 - Jun 2017]
              <strong>
                Xidian University
              </strong>
            </p>
            <p class="abstract-text">
              B.Eng, Major in Telecommunication Engineering.
            </p>
          </div>
        </div>


        <h3>
          <a name="Internships"></a> Internships
        </h3>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              [Jun 2019 - Oct 2019]
              <strong>
                Computer Systems Lab, Cornell Univeristy
              </strong>
            </p>
            <p class="abstract-text">
              Work with <a target="_blank" href="http://www.csl.cornell.edu/~zhiruz/">Prof. Zhiru Zhang</a>. <br />
              Multi-Paradigm Programming Infrastructure for Software-Defined Heterogeneous Computing
              (HeteroCL).
            </p>
          </div>
        </div>


        <h3>
          <a name="Projects"></a> Projects 

        </h3>


        <div class="media">
          <!-- <a name="softer" class="pull-left">
            <img class="media-object" src="assets_files_yang/opencl.png" width="96px" height="196px">
          </a> -->
          <div class="media-body">
            <p class="media-heading">
              <strong>
                OpenCL Backend Development for HeteroCL
                <a target="_blank" href="https://github.com/ybai62868/heterocl/tree/opencl">[code]</a>
              </strong><br>
            </p>
            <p class="abstract-text">
              I develop the Xilinx & Intel OpenCL backend for TVM-inspired HeteroCL and implement critical compiler
              backend optimization, e.g., loop unrolling, loop pipelining and partition for Xilinx OpenCL backend and
              implemented arbitrary precision integers for Intel OpenCL backend. I Implement the whole pipeline from
              Python-based domain-speciﬁc language to FPGA-targeted compilation ﬂow
            </p>
          </div>
        </div>


        <div class="media">
          <!-- <a name="softer" class="pull-left">
            <img class="media-object" src="assets_files_yang/HeteroCL.png" width="96px" height="196px">
          </a> -->
          <div class="media-body">
            <p class="media-heading">
              <strong>
                AWS-F1 Tutorial for KNN-DigitRec:
                <a target="_blank" href="https://github.com/ybai62868/OpenCL_Xilinx-Intel_HeteroCL">[tutorial]</a>
              </strong><br>
            </p>
            <p class="abstract-text">
              I write tutorials for running KNN-DigitRec example on AWS-F1 using HeteroCL. I design a new target backend
              for AWS development, combined HeteroCL Vivado HLS C++ code and host ﬁle based on Rosetta automatically
              generate host and wrapper ﬁles for design automation.
            </p>
          </div>
        </div>



        <h3>
          <a name="Publications"></a> Publications 

        </h3>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              <strong>
                <a target="_blank" href="">ATFormer: A Learned Performance Model with Transfer Learning Across Devices for Deep Learning Tensor Programs</a>
              </strong><br>
              <strong>Yang Bai</strong>, Wenqian Zhao, Shuo Yin, Zixiao Wang, Bei Yu
              <br />Conference on Empirical Methods in Natural Language Processing (EMNLP-main) 2023 
          </div>
        </div>




        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              <strong>
                <a target="_blank" href="">SoC-Tuner: An Importance-guided Exploration Framework for DNN-targeting SoC Design</a>
              </strong><br>
               Shixin Chen, Su Zheng, Chen Bai, Wenqian Zhao Shuo Yin, <strong>Yang Bai</strong>, Bei Yu
              <br />IEEE/ACM Asian and South Pacific Design Automation Conference (ASPDAC) 2024
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              <strong>
                <a target="_blank" href="">GTCO: Graph and Tensor Co-Design for Transformer-based Image Recognition on Tensor Cores</a>
              </strong><br>
              <strong>Yang Bai</strong>, Xufeng Yao, Qi Sun, Wenqian Zhao, Shixin Chen, Zixiao Wang, Bei Yu
              <br />IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems (TCAD)
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              <strong>
                <a target="_blank" href="https://proceedings.mlsys.org/paper_files/paper/2023/file/12a304a31e42dfefa21c82431e849124-Paper-mlsys2023.pdf">ALCOP: Automatic Load-Compute Pipelining in Deep Learning Compiler for AI-GPUs</a>
              </strong><br>
               Guyue Huang, <strong>Yang Bai</strong>, Liu Liu, Yuke Wang, Bei Yu, Yufei Ding, Yuan Xie
              <br />Conference on Machine Learning and Systems (MLSys) 2023
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              <strong>
                <a target="_blank" href="https://www.cse.cuhk.edu.hk/~byu/papers/C166-DAC2023-DiffPattern.pdf">DiffPattern: Layout Pattern Generation via Discrete Diffusion</a>
              </strong><br>
               Zixiao Wang, Yunheng Shen, Wenqian Zhao, <strong>Yang Bai</strong>, Guojin Chen, Farzan Farnia, Bei Yu
              <br />ACM/IEEE Design Automation Conference (DAC) 2023
            </p>
          </div>
        </div>


        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              <strong>
                <a target="_blank" href="https://ieeexplore.ieee.org/document/10041020/">A High-Performance Accelerator for Super-Resolution Processing on Embedded GPU</a>
              </strong><br>
               Wenqian Zhao, <strong>Yang Bai</strong>, Qi Sun, Wenbo Li, Haisheng Zheng, Nianjuan Jiang, Jiangbo Lu, Bei Yu, Martin D.F. Wong
              <br />IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems (TCAD)
            </p>
          </div>
        </div>


        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              <strong>
                <a target="_blank" href="http://www.cse.cuhk.edu.hk/~byu/papers/C155-AAAI2023-AutoGraph.pdf">AutoGraph: Optimizing DNN Computation Graph for Parallel GPU Kernel Execution</a>
              </strong><br>
              Yuxuan Zhao, Qi Sun, Zhuolun He, <strong>Yang Bai</strong>, Bei Yu
              <br />AAAI Conference on Artificial Intelligence (AAAI) 2023
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              <strong>
                <a target="_blank" href="http://www.cse.cuhk.edu.hk/~byu/papers/C144-CVPR2022-PCL.pdf">PCL: Proxy-based
                  Contrastive Learning for Domain Generalization</a>
              </strong><br>
              Xufeng Yao, <strong>Yang Bai</strong>, Xinyun Zhang, Yuechen Zhang, Qi Sun, Ran Chen, Ruiyu Li, Bei Yu
              <br />IEEE Conference on Computer Vision and Pattern Recognition (CVPR) 2022
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              <strong>
                <a target="_blank" href="http://www.cse.cuhk.edu.hk/~byu/papers/C143-DAC2022-GTuner.pdf">
                  GTuner: Tuning DNN Computations on GPU via Graph Attention Network</a>
              </strong><br>
              Qi Sun, Xinyun Zhang, Hao Geng, Yuxuan Zhao, <strong>Yang Bai</strong>, Haisheng Zheng, Bei Yu
              <br /> IEEE Design Automation Conference (DAC) 2022
            </p>
          </div>
        </div>



        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              <strong>
                <a target="_blank" href="http://www.cse.cuhk.edu.hk/~byu/papers/C132-ICCV2021-TVM-TL.pdf">Fast and
                  Efficient DNN Deployment via Deep Gaussian Transfer Learning</a>
              </strong><br>
              Qi Sun, Chen Bai, Tinghuan Chen, Hao Geng, Xinyun Zhang, <strong>Yang Bai</strong>, Bei Yu
              <br />IEEE International Conference on Computer Vision (ICCV) 2021
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              <strong>
                <a target="_blank" href="http://www.cse.cuhk.edu.hk/~byu/papers/C128-ICCAD2021-SRAcc.pdf">A
                  High-Performance Accelerator for Super-Resolution Processing on Embedded GPU </a>
              </strong><br>
              Wenqian Zhao, Qi Sun, <strong>Yang Bai</strong>, Haisheng Zheng, Wenbo Li, Bei Yu, Martin D.F. Wong
              <br />IEEE International Conference on Computer-Aided Design (ICCAD) 2021
            </p>
          </div>
        </div>


        <div class="media">
            <p class="media-heading">
              <strong>
                <a target="_blank" href="http://www.cse.cuhk.edu.hk/~byu/papers/C129-ICCAD2021-AutoGTCO.pdf">
                  AutoGTCO: Graph and Tensor Co-Optimize for Image Recognition with Transformers on GPU</a>
              </strong><br>
              <strong>Yang Bai</strong>, Xufeng Yao, Qi Sun, Bei Yu
              <br /> IEEE International Conference on Computer-Aided
              Design (ICCAD) 2021

            </p>
          </div>
        </div>


        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              <strong>
                <a target="_blank" href="https://ieeexplore.ieee.org/document/8784943">
                  ACPNet: Anchor-Center Based Person Network for Human Pose Estimation and Instance Segmentation</a>
              </strong><br>
              <strong>Yang Bai</strong>, Weiqiang Wang
              <br /> IEEE International Conference on Multimedia and Expo (ICME) 2019
            </p>
          </div>
        </div>



        <h3>
          <a name="teaching"></a> Professional Activities
        </h3>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              Conference Review:
              <strong>
                <ul>
                  <li>Design Automation Conference (DAC). </li>
                  <li>IEEE International Conference on Computer-Aided Design  (ICCAD). </li>
                  <li>Computer Vision and Pattern Recognition (CVPR). </li>
                  <li>International Conference on Computer Vision (ICCV). </li>
                </ul>
              </strong>
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              Journal Review:
              <strong>
                <ul>
                  <li>IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems (TCAD). </li>
                  <li>ACM Transactions on Design Automation of Electronic Systems (TODAES). </li>
                  <li>IEEE Transaction on Image Processing (TIP). </li>
                  <li>IEEE Transactions on Computers (TC). </li>

                </ul>
              </strong>
            </p>
          </div>
        </div>


        <h3>
          <a name="teaching"></a> Teaching

        </h3>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              [Fall 2024]
              <strong>
                CMSC 5743 Efficient Computing of Deep Neural Networks
              </strong>
            </p>
          </div>
        </div>


        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              [Spring 2023]
              <strong>
                CMSC 5743 Efficient Computing of Deep Neural Networks
              </strong>
            </p>
          </div>
        </div>


        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              [Fall 2021]
              <strong>
                CMSC 5743 Efficient Computing of Deep Neural Networks
              </strong>
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              [Fall 2021]
              <strong>
                AIST 3030 Numerical Optimization
              </strong>

            </p>
          </div>
        </div>


        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              [Spring 2021]
              <strong>
                CENG 3420 Computer Organization and Design
              </strong>

            </p>

          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              [Fall 2020]
              <strong>
                CMSC 5743 Efficient Computing of Deep Neural Networks
              </strong>

            </p>

          </div>
        </div>


        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              [Fall 2020]
              <strong>
                ENGG 2020 Digital Logic and Systems
              </strong>

            </p>

          </div>
        </div>

        <h3>
          <a name="Talks"></a> Talks
        </h3>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              [Feb 2020]
              <strong>
                AI Lab - ML Systems, ByteDance Beijing
              </strong>
              : Full Stack Deep Learning Compiler <a target="_blank"
                href="https://drive.google.com/file/d/1Oct44xh4E2cZvCDXgn_aubmFcFji71h4/view">[slides]</a>. <br />
            </p>
          </div>
        </div>

        <div class="media">
          <div class="media-body">
            <p class="media-heading">
              [Aug 2019]
              <strong>
                Computer Systems Lab - Cornell Univeristy, Ithaca
              </strong>
              : Summary about OpenCL <a target="_blank"
                href="https://docs.google.com/presentation/d/1eVrFFA5oXcqqbAgcVOAcyig0gIEepm610QbO65tKAXY/edit?usp=sharing">[slides]</a>.
              <br />
            </p>

          </div>
        </div>




        <!-- <h3 class="tableheading"> Publications </h3>
<table>
  <tbody>
    <tr>
      <td>
  <b>Compiling Graph Algorithms for GPUs with GraphIt</b><br>
  <a href="http://groups.csail.mit.edu/commit/papers/2021/ajay-cgo21-g2.pdf" style="color: #0000FF"> [pdf] </a>
  <a href="https://arxiv.org/abs/2012.07990" style="color: #0000FF">[arxiv]</a> 
  <br> 
  Ajay Brahmakshatriya, <u>Yunming Zhang</u>, Changwan Hong, Shoaib Kamil, Saman Amarasinghe, and Julian Shun<br>
  International Symposium on Code Generation and Optimization (CGO 2021)<br>
  <span style="color: #9A4340; font-weight: bold">Best Paper Award</span>
      </td>
    </tr>

    
  <tr>
      <td>
  <b>GraphIt: Optimizing the Performance and Improving the Programmability of Graph Algorithms</b><br>
  <a href="http://groups.csail.mit.edu/commit/papers/2020/yunming-thesis.pdf" style="color: #0000FF"> [pdf] </a>
  <a href="https://graphit-lang.org" style="color: #0000FF"> [GraphIt project] </a> 
  <br> <u>Yunming Zhang</u><br>
  PhD Thesis (Sep 2020)<br>
      </td>
    </tr>

    <tr>
      <td>
  <b>Optimizing Ordered Graph Algorithms with GraphIt</b><br>
  <a href="https://dl.acm.org/doi/10.1145/3368826.3377909" style="color: #0000FF"> [pdf] </a>
  <a href="https://arxiv.org/abs/1911.07260" style="color: #0000FF">[arxiv]</a> 
  <a href="https://graphit-lang.org" style="color: #0000FF"> [GraphIt project] </a> 
  <br> 
  <u>Yunming Zhang</u>, Ajay Brahmakshatriya, Xinyi Chen, Laxman Dhulipala, Shoaib Kamil, Saman Amarasinghe, and Julian Shun<br>
      International Symposium on Code Generation and Optimization (CGO 2020)<br>
      </td>
    </tr>

    <tr>
      <td>
  <b>GraphIt: a High-Performance Graph DSL</b><br>
  <a href="https://dl.acm.org/citation.cfm?id=3276491" style="color: #0000FF"> [pdf] </a>
  <a href="https://arxiv.org/abs/1805.00923" style="color: #0000FF">[arxiv]</a>
  <a href="https://graphit-lang.org" style="color: #0000FF"> [GraphIt project] </a>
  <br>
  <u>Yunming Zhang</u>, Mengjiao Yang, Riyadh Baghdadi, Shoaib Kamil, Julian Shun, and Saman Amarasinghe<br>
      Proceedings of the ACM on Programming Languages, Volume 2. (OOPSLA 2018)<br>
      </td>
    </tr>
    <tr>
      <td>
  <b>Making Caches Work for Graph Analytics </b><br>
  <a href="https://ieeexplore.ieee.org/document/8257937" style="color: #0000FF">[pdf]</a>
  <a href="https://arxiv.org/abs/1608.01362" style="color: #0000FF">[arxiv]</a>
  <br>
  <u>Yunming Zhang</u>, Vladimir Kiriansky, Charith Mendis, Matei Zaharia, Saman Amarasinghe<br>
    Proceedings of the 2017 IEEE International Conference on Big Data (Big Data 2017)<br>
  <span style="color: #9A4340; font-weight: bold">Best Student Paper Award</span>
      </td>
    </tr>
    <tr>
      <td>
  <b>Optimizing Indirect Memory References with Milk</b><br>
  <a href="https://dl.acm.org/citation.cfm?id=2967948" style="color: #0000FF">[pdf]</a><br>
  Vladimir Kiriansky, <u>Yunming Zhang</u>, Saman Amarasinghe<br>
  Proceedings of the 2016 International Conference on Parallel Architectures and Compilation Techniques (PACT 2016)
      </td>
    </tr>
    <tr>
      <td>
  <b>Tiramisu: A Polyhedral Compiler for Expressing Fast and Portable Code</b><br>
  <a href="https://ieeexplore.ieee.org/document/8661197" style="color: #0000FF">[pdf]</a>
  <a href="https://arxiv.org/abs/1804.10694" style="color: #0000FF">[arxiv]</a>
  <a href="https://github.com/Tiramisu-Compiler/tiramisu" style="color: #0000FF"> [project] </a><br>
  Romdhane, Emanuele Del Sozzo, Abdurrahman Akkas, <u>Yunming Zhang</u>, Patricia Suriana, Shoaib Kamil, Saman Amarasinghe<br>
  Proceedings of the 2019 International Symposium on Code Generation and Optimization (CGO 2019)
      </td>
    </tr>
    <tr>
      <td>
  <b>HJ-Hadoop: an Optimized MapReduce Runtime for Multi-Core Systems</b><br>
  <a href="https://dl.acm.org/citation.cfm?id=2514875" style="color: #0000FF">[pdf]</a>
  <a href="https://scholarship.rice.edu/bitstream/handle/1911/87782/ZHANG-DOCUMENT-2014.pdf?sequence=1" style="color: #0000FF"> [master thesis] </a><br>
  <u>Yunming Zhang</u>, Alan Cox, Vivek Sarkar <br>
  Proceedings of the 2013 companion publication for conference on Systems, programming, & applications: software for humanity (SPLASH 2013)
      </td>
    </tr>

</table>

<h3>Teaching Experiences</h3>
I have enjoyed working as a TA for Performance Engineering of Software Systems at MIT(6.172), Fundamentals of Parallel Computing (COMP322), Advanced Object Oriented Computing (COMP310), and Computational Thinking (COMP 140) at Rice University. 
 -->
